doctype html
html lang="es" 
  head
    meta charset="utf-8"
    title Asperger Chile
    meta name="description" content="Fundación nacional de Asperger en Chile"
    meta name="keywords" content="asperger, chile"/
    meta name="author" content="Gricel Sepulveda"/
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! NORMALIZE
    link rel="stylesheet" href="css/normalize.css" type="text/css"
    /! BOOTSTRAP
    link rel="stylesheet" href="css/bootstrap.css" type="text/css"
    /! CUSTOM STYLES
    link rel="stylesheet" href="css/styles.css" type="text/css"
    /! FONTAWESOME
    link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"
    /! JQUERY
    script src="js/jquery-3.1.1-min.js"
    /! CUSTOM SCRIPTS
    script src="js/scripts.js"
  body
    /! CONTENEDOR FIX NAV
    .fix-nav
      /! LOGO
      .logo-space
        a.logo-asperger href="#"
          img src="img/logo.gif"
        .discurso.hidden-xs.hidden-sm
          span Apoyar, defeneder, Incluir
        .menu
          i.fa.fa-bars aria-hidden="true"
      /! NAVBAR
      nav.main-navbar
        /! NAVBAR
        ul.ul-navbar
          li.li-navbar
            a href="#inicio" Inicio
          li.li-navbar
            a href="#nosotros" Nosotros
          li.li-navbar
            a href="#noticias" Noticias
    /! HEADER
    header.slider id="inicio"
      h1 Con el corazón puesto en nuestros hijos...
    /! THUMBAILS NOTICIAS
    .container.news-thumbails
      .row
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          article.thumbail-article-news
            img.thumbail-img-new src="img/thumbail-1.jpg"
            h2 Estamos trabajando para nuestros niños
            p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          article.thumbail-article-news
            img.thumbail-img-new src="img/thumbail-2.jpg"
            h2 Inauguramos nuevo taller para adolescentes
            p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          article.thumbail-article-news
            img.thumbail-img-new src="img/thumbail-3.jpg"
            h2 Anunciamos más oportunidades laborales
            p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
    /! SECCION NOSOTROS
    .container id="nosotros"
      .row.mision
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          img.imagen-nosotros src="img/logo.gif"
        .col-xs-12.col-sm-12.col-md-8.col-lg-8
          h3 Mision
          p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
      .row.mision
        .col-xs-12.col-sm-12.col-md-8.col-lg-8
          h3 Vision
          p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          img.imagen-nosotros src="img/logo.gif"